#main {
    max-width: 600px;
    margin: 0 auto;
} 

 body {
     border: #a1a8b5;
     color: black;
     background-color: white;
 } 
 h3 {
  margin: 0;
 }
 p {
  margin-top: 0;
 }
 .page-wrapper {
   width: 90%;
   max-width: 940px;
   margin: 20px auto;
   border-color: #a1a8b5;
 }
 .intro {
  display: grid;
  grid-gap:1px;
  grid-auro-rows: (150px, auto);
 }
 .intro > *{
  padding: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(161, 168, 181);
  font-family: 'Volkhov', serif;

 }
 .summary {
  background-image: url("img/idea.jpg")
 }
 .summary {
  background-image: url("img/idea.jpg")
  display: flex;
  flex-direction: column;
 }
 
 .preamble {
  background-image: url("img/yellow.jpeg")
 }
 .preamble {
 }
 .explanation{
  background-image: url("img/greyandyellow.jpg")
 }
 
 .intro h1, h2, h3 {
  margin-top: auto;
 }
 
 @media (min-width: 500px ){
  .intro{
   grid-template-columns: 1fr 1fr;
   }
  .preamble {
   grid-column: 1/3;
   grid-rows: 1/3;
  }
 }
 .participation {
  background-image: url("img/yellowback.png")
 
 }
 .main-supporting {
  background-image: url("img/dark_grey.jpg")
 }
 .benefits {
  background-image: url("img/dark_grey.jpg")
 }
 .requirements
 {
  background-image: url("img/greywhite.jpg")
 }
 
 ul,li {
 list-style: none;
 padding: 0;
 margin: 0;
}
li {
 background: #f7ec1d;
 padding: 10px 20px;
 border-bottom: 1px solid #191818; 
 text-transform: uppercase; 
 font-size: 12px;
}
li:hover { background: #191818; }

.design-selection li {
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

